* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.content-tabuada {
    width: 100%;
    text-align: center;
    max-width: 500px;
    background-color: #fff;
    margin: auto;
    padding: 20px;
}

.content-tabuada table {
    width: 100%;
    border-collapse: collapse;
}

.content-tabuada td {
    padding: .75rem;
    border-top: 1px solid #DEE2E6;
}

.content-tabuada tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
}

.content-tabuada tbody tr:hover {
    background-color: rgba(0,0,0,.15);
    cursor: pointer;
}

footer {
    font-size: .8em;
    text-align: center;
}

